.version.contact /* version checker */
{
	color: #0000E1;
	background-color: #9185E1;
}

#page
{
	z-index: 1;
	width: 672px;
	min-height: 337px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
	padding: 156px 154px 213px;
}

#u5524-3
{
	z-index: 2;
	min-height: 81px;
}

#u5524-3-bw
{
	position: fixed;
	left: 0px;
	right: 0px;
	z-index: 2;
	top: 0px;
}

#u5547
{
	z-index: 24;
	width: 227px;
	top: 14px;
	left: 0px;
}

#u5548
{
	z-index: 29;
	width: 44px;
	height: 47px;
	margin-right: -10000px;
	margin-top: 5px;
}

#u5549-4
{
	z-index: 25;
	width: 173px;
	margin-right: -10000px;
	left: 54px;
}

#menuu5525
{
	z-index: 5;
	width: 237px;
	top: 25px;
	left: 743px;
}

#u5526
{
	width: 77px;
	min-height: 34px;
	margin-right: -10000px;
}

#u5529
{
	width: 77px;
	padding-bottom: 17px;
}

#u5529.MuseMenuActive
{
	width: 77px;
	min-height: 0px;
	margin: 0px;
}

#u5530-4
{
	width: 43px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
	left: 17px;
}

#u5529.MuseMenuActive #u5530-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 43px;
	margin: 0px -10000px 0px 0px;
}

#u5533
{
	width: 65px;
	min-height: 34px;
	margin-right: -10000px;
	left: 79px;
}

#u5534
{
	width: 65px;
	padding-bottom: 17px;
}

#u5534.MuseMenuActive
{
	width: 65px;
	min-height: 0px;
	margin: 0px;
}

#u5537-4
{
	width: 32px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
	left: 16px;
}

#u5534.MuseMenuActive #u5537-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 32px;
	margin: 0px -10000px 0px 0px;
}

#u5540
{
	width: 91px;
	min-height: 34px;
	margin-right: -10000px;
	left: 146px;
}

#u5543
{
	width: 91px;
	padding-bottom: 17px;
}

#u5543.MuseMenuActive
{
	width: 91px;
	min-height: 0px;
	margin: 0px;
}

#u5545-4
{
	width: 58px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
	left: 16px;
}

#u5543.MuseMenuActive #u5545-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 58px;
	margin: 0px -10000px 0px 0px;
}

#u3975-4
{
	z-index: 75;
	width: 672px;
	min-height: 49px;
	background-color: transparent;
	text-align: center;
	font-size: 16px;
	line-height: 19px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 400;
	position: relative;
}

#widgetu3847
{
	z-index: 30;
	width: 0.01px;
	height: 233px;
	margin-left: 12px;
	margin-top: 55px;
	position: relative;
}

#widgetu3860
{
	z-index: 31;
	width: 308px;
	height: 28px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: -1px;
}

#widgetu3860:hover
{
	background-color: transparent;
	width: 308px;
	height: 28px;
	min-height: 0px;
	margin: -1px -10000px 0px 0px;
}

#widgetu3860.focus-st
{
	background-color: transparent;
	width: 308px;
	height: 28px;
	min-height: 0px;
	margin: -1px -10000px 0px 0px;
}

#u3863-4
{
	z-index: 32;
	width: 294px;
	min-height: 14px;
	border-width: 1px;
	border-style: solid;
	border-color: #C4C4C4;
	background-color: #F2F2F2;
	padding: 6px;
	color: #C4C4C4;
	line-height: 14px;
	font-family: cantarell, sans-serif;
	font-weight: 400;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
}

.html,#widgetu3860.non-empty-st #u3863-4
{
	background-color: #FFFFFF;
}

#widgetu3860:hover #u3863-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 294px;
	margin: 0px -10000px 0px 0px;
}

#widgetu3860.focus-st #u3863-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 294px;
	margin: 0px -10000px 0px 0px;
}

#widgetu3860.non-empty-st #u3863-4 *
{
	color: #1E1E1E;
	font-style: normal;
}

#widgetu3860:hover #u3863-4 *
{
	color: #353535;
	font-style: normal;
}

#widgetu3860.focus-st #u3863-4 *
{
	color: #353535;
	font-style: normal;
}

#widgetu3854
{
	z-index: 36;
	width: 308px;
	height: 28px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: 341px;
}

#widgetu3860.fld-err-st,#widgetu3854.fld-err-st
{
	background-color: transparent;
	border-radius: 0px;
	width: 308px;
	height: 28px;
	min-height: 0px;
	margin: -1px -10000px 0px 0px;
}

#u3857-4
{
	z-index: 37;
	width: 294px;
	min-height: 14px;
	border-width: 1px;
	border-style: solid;
	border-color: #C4C4C4;
	background-color: #F2F2F2;
	padding: 6px;
	color: #C4C4C4;
	line-height: 14px;
	font-family: cantarell, sans-serif;
	font-weight: 400;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
}

#widgetu3854.non-empty-st #u3857-4
{
	background-color: #FFFFFF;
}

#widgetu3854:hover #u3857-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 294px;
	margin: 0px -10000px 0px 0px;
}

#widgetu3854.focus-st #u3857-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 294px;
	margin: 0px -10000px 0px 0px;
}

#widgetu3860.fld-err-st #u3863-4,#widgetu3854.fld-err-st #u3857-4
{
	border-color: #D7244C;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 294px;
	margin: 0px -10000px 0px 0px;
}

#widgetu3854.non-empty-st #u3857-4 *
{
	color: #1E1E1E;
	font-style: normal;
}

#widgetu3854:hover #u3857-4 *
{
	color: #353535;
	font-style: normal;
}

#widgetu3854.focus-st #u3857-4 *
{
	color: #353535;
	font-style: normal;
}

#widgetu3860_input,#widgetu3860_prompt,#widgetu3854_input,#widgetu3854_prompt
{
	width: 294px;
	min-height: 14px;
	color: #C4C4C4;
	font-family: cantarell, sans-serif;
	font-style: italic;
	font-weight: 400;
	padding: 6px;
}

#u3853-4
{
	z-index: 41;
	width: 200px;
	min-height: 21px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 4px;
	line-height: 14px;
	font-size: 12px;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 206px;
	left: 409px;
}

#widgetu3847.frm-sub-st #u3853-4 p
{
	color: #999999;
	font-size: 14px;
	line-height: 1;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
}

#u3848-4
{
	z-index: 45;
	width: 200px;
	min-height: 21px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 4px;
	color: #FF0000;
	line-height: 14px;
	font-size: 12px;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 206px;
	left: 409px;
}

#widgetu3847.frm-subm-err-st #u3848-4 p
{
	color: #D7244C;
	font-size: 14px;
	line-height: 1;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
}

#u3859-4
{
	z-index: 49;
	width: 200px;
	min-height: 21px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 4px;
	color: #00FF00;
	line-height: 12px;
	font-size: 12px;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 206px;
	left: 409px;
}

#widgetu3847.frm-sub-st #u3853-4,#widgetu3847.frm-subm-err-st #u3848-4,#widgetu3847.frm-subm-ok-st #u3859-4
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	min-height: 25px;
}

#widgetu3847.frm-subm-ok-st #u3859-4 p
{
	color: #999999;
	font-size: 14px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
}

#u3858-17
{
	z-index: 53;
	min-height: 31px;
	width: 131px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: 203px;
	left: 259px;
	background: url("../images/u3858-17.png") no-repeat 0px 0px;
}

#u3858-17:hover
{
	background: url("../images/u3858-17-r.png") no-repeat 0px 0px;
}

#u3858-17:active
{
	background: url("../images/u3858-17-m.png") no-repeat 0px 0px;
}

#widgetu3847.frm-sub-st #u3858-17
{
	background: url("../images/u3858-17-fs.png") no-repeat 0px 0px;
}

#widgetu3849
{
	z-index: 70;
	width: 650px;
	height: 142px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 44px;
	left: -1px;
}

#widgetu3849.fld-err-st
{
	background-color: transparent;
	border-radius: 0px;
	width: 650px;
	height: 142px;
	min-height: 0px;
	margin: 44px -10000px 0px 0px;
}

#u3850-4
{
	z-index: 71;
	width: 636px;
	min-height: 128px;
	border-width: 1px;
	border-style: solid;
	border-color: #C4C4C4;
	background-color: #F2F2F2;
	padding: 6px;
	color: #C4C4C4;
	line-height: 14px;
	font-family: cantarell, sans-serif;
	font-weight: 400;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
}

#widgetu3849.non-empty-st #u3850-4
{
	background-color: #FFFFFF;
}

#widgetu3849:hover #u3850-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 128px;
	width: 636px;
	margin: 0px -10000px 0px 0px;
}

#widgetu3849.focus-st #u3850-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 128px;
	width: 636px;
	margin: 0px -10000px 0px 0px;
}

#widgetu3849.fld-err-st #u3850-4
{
	border-color: #D7244C;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 128px;
	width: 636px;
	margin: 0px -10000px 0px 0px;
}

#widgetu3849.non-empty-st #u3850-4 *
{
	color: #1E1E1E;
	font-style: normal;
}

#widgetu3849:hover #u3850-4 *
{
	color: #353535;
	font-style: normal;
}

#widgetu3849.focus-st #u3850-4 *
{
	color: #353535;
	font-style: normal;
}

#widgetu3860.fld-err-st #u3863-4 *,#widgetu3854.fld-err-st #u3857-4 *,#widgetu3849.fld-err-st #u3850-4 *
{
	color: #D7244C;
	font-style: italic;
}

#widgetu3849_input,#widgetu3849_prompt
{
	width: 636px;
	min-height: 128px;
	color: #C4C4C4;
	font-family: cantarell, sans-serif;
	font-style: italic;
	font-weight: 400;
	padding: 6px;
}

#widgetu3860:hover #widgetu3860_input,#widgetu3860.focus-st #widgetu3860_input,#widgetu3860.fld-err-st #widgetu3860_input,#widgetu3860:hover #widgetu3860_prompt,#widgetu3860.focus-st #widgetu3860_prompt,#widgetu3860.fld-err-st #widgetu3860_prompt,#widgetu3854:hover #widgetu3854_input,#widgetu3854.focus-st #widgetu3854_input,#widgetu3854.fld-err-st #widgetu3854_input,#widgetu3854:hover #widgetu3854_prompt,#widgetu3854.focus-st #widgetu3854_prompt,#widgetu3854.fld-err-st #widgetu3854_prompt,#widgetu3849:hover #widgetu3849_input,#widgetu3849.focus-st #widgetu3849_input,#widgetu3849.fld-err-st #widgetu3849_input,#widgetu3849:hover #widgetu3849_prompt,#widgetu3849.focus-st #widgetu3849_prompt,#widgetu3849.fld-err-st #widgetu3849_prompt
{
	padding-top: 6px;
	padding-bottom: 6px;
}

#widgetu3860.non-empty-st #widgetu3860_prompt,#widgetu3854.non-empty-st #widgetu3854_prompt,#widgetu3849.non-empty-st #widgetu3849_prompt
{
	visibility: hidden;
}

#u1997
{
	z-index: 79;
	height: 50px;
	bottom: 0px;
}

#u1997-bw
{
	z-index: 79;
}

body
{
	position: relative;
	min-width: 980px;
}

#page .verticalspacer
{
	clear: both;
}

