#u3612
{
	background-color: #FE7A47;
}

#u3612_align_to_page
{
	position: relative;
}

#u3613
{
	position: relative;
	background: transparent url("../images/golden-compass-white-100.png") no-repeat left top;
}

#u3620-4
{
	display: block;
	vertical-align: top;
	position: relative;
}

#menuu5550
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u5551,#u5552
{
	background-color: transparent;
	position: relative;
}

#u5552:hover
{
	background-color: #FFFFFF;
}

#u5555-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #353535;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
}

#u5552:hover #u5555-4 p
{
	color: #629984;
	visibility: inherit;
}

#u5558,#u5559
{
	background-color: transparent;
	position: relative;
}

#u5552.MuseMenuActive,#u5559:hover
{
	background-color: #FFFFFF;
}

#u5560-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #353535;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
}

#u5552.MuseMenuActive #u5555-4 p,#u5559:hover #u5560-4 p
{
	color: #629984;
	visibility: inherit;
}

#u5565,#u5568
{
	background-color: transparent;
	position: relative;
}

#u5559.MuseMenuActive,#u5568:hover
{
	background-color: #FFFFFF;
}

#u5568.MuseMenuActive
{
	background-color: #FFFFFF;
}

#u5571-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #353535;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
}

#u5559.MuseMenuActive #u5560-4 p,#u5568:hover #u5571-4 p
{
	color: #629984;
	visibility: inherit;
}

#u5568.MuseMenuActive #u5571-4 p
{
	color: #629984;
	visibility: inherit;
}

.MenuItem /* unifiedNavBar */
{
	cursor: pointer;
}

